<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ page.title }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="/js/javascript.js"></script>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Project name</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="/">Home</a></li>
	            <li><a href="/about/">Markdown</a></li>
	            <li><a href="contact/">Contact</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	    <div class="container">
	      <div class="starter-template">
	      	{% block content_wrapper %}
				{% block content %}{% endblock %}
			{% endblock %}
	      </div>
	    </div>
		{% block javascripts %}{% endblock %}
	</body>
</html>